@media(min-width:768px){.elementor-597 .elementor-element.elementor-element-990021b{width:33.33%;}.elementor-597 .elementor-element.elementor-element-1734aff{width:16.67%;}
.elementor-597 .elementor-element.elementor-element-b754eea{
    width:20%;
}
.elementor-597 .elementor-element.elementor-element-512e3ae{width:33.34%;}}@media(max-width:1024px) and (min-width:768px){.elementor-597 .elementor-element.elementor-element-990021b{width:50%;}.elementor-597 .elementor-element.elementor-element-1734aff{width:50%;}
.elementor-597 .elementor-element.elementor-element-b754eea{
    width:50%;
    margin-top: 45px;
}
.elementor-597 .elementor-element.elementor-element-512e3ae{width:50%;}}